.hide {
    display: none
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.companies {
    background-size: 26496px 160px;
    background-image: url(https://assets-v2.scaler.com/assets/scaler/png/companies-new-10225f0526bc97cf1374c3c4596abea4e572d7123ad876de6c07e73718beaf07.png);
    background-repeat: no-repeat;
    display: block
}

.companies.adobe {
    height: 156px;
    width: 336px;
    background-position: -2px
}

.companies.amazon {
    height: 156px;
    width: 282px;
    background-position: -342px
}

.companies.arcesium {
    height: 156px;
    width: 435px;
    background-position: -628px
}

.companies.atlassian {
    height: 156px;
    width: 428px;
    background-position: -1067px
}

.companies.bloomberg {
    height: 156px;
    width: 445px;
    background-position: -1499px
}

.companies.booking {
    height: 156px;
    width: 429px;
    background-position: -1948px
}

.companies.business-insider {
    height: 156px;
    width: 294px;
    background-position: -2381px
}

.companies.business-line {
    height: 156px;
    width: 433px;
    background-position: -2679px
}

.companies.business-standard {
    height: 156px;
    width: 511px;
    background-position: -3116px
}

.companies.cisco {
    height: 156px;
    width: 183px;
    background-position: -3631px
}

.companies.curefit {
    height: 156px;
    width: 381px;
    background-position: -3818px
}

.companies.deshaw {
    height: 156px;
    width: 606px;
    background-position: -4203px
}

.companies.directi {
    height: 156px;
    width: 297px;
    background-position: -4813px
}

.companies.dream11 {
    height: 156px;
    width: 315px;
    background-position: -5114px
}

.companies.fab {
    height: 156px;
    width: 231px;
    background-position: -5433px
}

.companies.facebook {
    height: 156px;
    width: 390px;
    background-position: -5668px
}

.companies.flipkart {
    height: 156px;
    width: 435px;
    background-position: -6062px
}

.companies.forbes {
    height: 156px;
    width: 349px;
    background-position: -6501px
}

.companies.gfc {
    height: 156px;
    width: 420px;
    background-position: -6854px
}

.companies.gojek {
    height: 156px;
    width: 332px;
    background-position: -7278px
}

.companies.goldman {
    height: 156px;
    width: 234px;
    background-position: -7614px
}

.companies.google {
    height: 156px;
    width: 306px;
    background-position: -7852px
}

.companies.harness {
    height: 156px;
    width: 381px;
    background-position: -8162px
}

.companies.hindustan-times {
    height: 156px;
    width: 149px;
    background-position: -8547px
}

.companies.hotstar {
    height: 156px;
    width: 384px;
    background-position: -8700px
}

.companies.ibt {
    height: 156px;
    width: 232px;
    background-position: -9088px
}

.companies.india-today {
    height: 156px;
    width: 228px;
    background-position: -9324px
}

.companies.intuit {
    height: 156px;
    width: 297px;
    background-position: -9556px
}

.companies.linkedin {
    height: 156px;
    width: 297px;
    background-position: -9857px
}

.companies.livemint {
    height: 156px;
    width: 370px;
    background-position: -10158px
}

.companies.media-net {
    height: 156px;
    width: 361px;
    background-position: -10532px
}

.companies.microsoft {
    height: 156px;
    width: 381px;
    background-position: -10897px
}

.companies.mindtickle {
    height: 156px;
    width: 468px;
    background-position: -11282px
}

.companies.mpl {
    height: 156px;
    width: 330px;
    background-position: -11754px
}

.companies.myntra {
    height: 156px;
    width: 317px;
    background-position: -12088px
}

.companies.netflix {
    height: 156px;
    width: 240px;
    background-position: -12409px
}

.companies.nutanix {
    height: 156px;
    width: 367px;
    background-position: -12653px
}

.companies.onemg {
    height: 156px;
    width: 117px;
    background-position: -13024px
}

.companies.oyo {
    height: 156px;
    width: 177px;
    background-position: -13145px
}

.companies.paypal {
    height: 156px;
    width: 396px;
    background-position: -13326px
}

.companies.paytm {
    height: 156px;
    width: 228px;
    background-position: -13726px
}

.companies.qualcomm {
    height: 156px;
    width: 500px;
    background-position: -13958px
}

.companies.razorpay {
    height: 156px;
    width: 456px;
    background-position: -14462px
}

.companies.remo {
    height: 156px;
    width: 243px;
    background-position: -14922px
}

.companies.rico {
    height: 156px;
    width: 99px;
    background-position: -15169px
}

.companies.rippling {
    height: 156px;
    width: 473px;
    background-position: -15272px
}

.companies.rocket {
    height: 156px;
    width: 779px;
    background-position: -15749px
}

.companies.sapient {
    height: 156px;
    width: 357px;
    background-position: -16532px
}

.companies.scaler {
    height: 156px;
    width: 470px;
    background-position: -16893px
}

.companies.scratch {
    height: 156px;
    width: 319px;
    background-position: -17367px
}

.companies.sequoia {
    height: 156px;
    width: 447px;
    background-position: -17690px
}

.companies.snapdeal {
    height: 156px;
    width: 339px;
    background-position: -18141px
}

.companies.sprinklr {
    height: 156px;
    width: 453px;
    background-position: -18484px
}

.companies.techcrunch {
    height: 156px;
    width: 184px;
    background-position: -18941px
}

.companies.techinasia {
    height: 156px;
    width: 511px;
    background-position: -19129px
}

.companies.tiger-global {
    height: 156px;
    width: 1158px;
    background-position: -19644px
}

.companies.tigerglobal {
    height: 156px;
    width: 717px;
    background-position: -20806px
}

.companies.toi {
    height: 156px;
    width: 185px;
    background-position: -21527px
}

.companies.toppr {
    height: 156px;
    width: 330px;
    background-position: -21716px
}

.companies.traveloka {
    height: 156px;
    width: 435px;
    background-position: -22050px
}

.companies.truebil {
    height: 156px;
    width: 495px;
    background-position: -22489px
}

.companies.twitter {
    height: 156px;
    width: 330px;
    background-position: -22988px
}

.companies.uber {
    height: 156px;
    width: 171px;
    background-position: -23322px
}

.companies.urbanclap {
    height: 156px;
    width: 519px;
    background-position: -23497px
}

.companies.walmart {
    height: 156px;
    width: 444px;
    background-position: -24020px
}

.companies.walmart-new {
    height: 156px;
    width: 417px;
    background-position: -24468px
}

.companies.youtube {
    height: 156px;
    width: 303px;
    background-position: -24889px
}

.companies.zenefits {
    height: 156px;
    width: 384px;
    background-position: -25196px
}

.companies.zeta {
    height: 156px;
    width: 213px;
    background-position: -25584px
}

.companies.zomato {
    height: 153px;
    width: 318px;
    background-position: -25801px
}

.companies.zynga {
    height: 156px;
    width: 371px;
    background-position: -26123px
}

.companies.one-third {
    background-size: 8832px 53.33333333px
}

.companies.one-third.adobe {
    height: 52px;
    width: 112px;
    background-position: -0.66666667px
}

.companies.one-third.amazon {
    height: 52px;
    width: 94px;
    background-position: -114px
}

.companies.one-third.arcesium {
    height: 52px;
    width: 145px;
    background-position: -209.33333333px
}

.companies.one-third.atlassian {
    height: 52px;
    width: 142.66666667px;
    background-position: -355.66666667px
}

.companies.one-third.bloomberg {
    height: 52px;
    width: 148.33333333px;
    background-position: -499.66666667px
}

.companies.one-third.booking {
    height: 52px;
    width: 143px;
    background-position: -649.33333333px
}

.companies.one-third.business-insider {
    height: 52px;
    width: 98px;
    background-position: -793.66666667px
}

.companies.one-third.business-line {
    height: 52px;
    width: 144.33333333px;
    background-position: -893px
}

.companies.one-third.business-standard {
    height: 52px;
    width: 170.33333333px;
    background-position: -1038.66666667px
}

.companies.one-third.cisco {
    height: 52px;
    width: 61px;
    background-position: -1210.33333333px
}

.companies.one-third.curefit {
    height: 52px;
    width: 127px;
    background-position: -1272.66666667px
}

.companies.one-third.deshaw {
    height: 52px;
    width: 202px;
    background-position: -1401px
}

.companies.one-third.directi {
    height: 52px;
    width: 99px;
    background-position: -1604.33333333px
}

.companies.one-third.dream11 {
    height: 52px;
    width: 105px;
    background-position: -1704.66666667px
}

.companies.one-third.fab {
    height: 52px;
    width: 77px;
    background-position: -1811px
}

.companies.one-third.facebook {
    height: 52px;
    width: 130px;
    background-position: -1889.33333333px
}

.companies.one-third.flipkart {
    height: 52px;
    width: 145px;
    background-position: -2020.66666667px
}

.companies.one-third.forbes {
    height: 52px;
    width: 116.33333333px;
    background-position: -2167px
}

.companies.one-third.gfc {
    height: 52px;
    width: 140px;
    background-position: -2284.66666667px
}

.companies.one-third.gojek {
    height: 52px;
    width: 110.66666667px;
    background-position: -2426px
}

.companies.one-third.goldman {
    height: 52px;
    width: 78px;
    background-position: -2538px
}

.companies.one-third.google {
    height: 52px;
    width: 102px;
    background-position: -2617.33333333px
}

.companies.one-third.harness {
    height: 52px;
    width: 127px;
    background-position: -2720.66666667px
}

.companies.one-third.hindustan-times {
    height: 52px;
    width: 49.66666667px;
    background-position: -2849px
}

.companies.one-third.hotstar {
    height: 52px;
    width: 128px;
    background-position: -2900px
}

.companies.one-third.ibt {
    height: 52px;
    width: 77.33333333px;
    background-position: -3029.33333333px
}

.companies.one-third.india-today {
    height: 52px;
    width: 76px;
    background-position: -3108px
}

.companies.one-third.intuit {
    height: 52px;
    width: 99px;
    background-position: -3185.33333333px
}

.companies.one-third.linkedin {
    height: 52px;
    width: 99px;
    background-position: -3285.66666667px
}

.companies.one-third.livemint {
    height: 52px;
    width: 123.33333333px;
    background-position: -3386px
}

.companies.one-third.media-net {
    height: 52px;
    width: 120.33333333px;
    background-position: -3510.66666667px
}

.companies.one-third.microsoft {
    height: 52px;
    width: 127px;
    background-position: -3632.33333333px
}

.companies.one-third.mindtickle {
    height: 52px;
    width: 156px;
    background-position: -3760.66666667px
}

.companies.one-third.mpl {
    height: 52px;
    width: 110px;
    background-position: -3918px
}

.companies.one-third.myntra {
    height: 52px;
    width: 105.66666667px;
    background-position: -4029.33333333px
}

.companies.one-third.netflix {
    height: 52px;
    width: 80px;
    background-position: -4136.33333333px
}

.companies.one-third.nutanix {
    height: 52px;
    width: 122.33333333px;
    background-position: -4217.66666667px
}

.companies.one-third.onemg {
    height: 52px;
    width: 39px;
    background-position: -4341.33333333px
}

.companies.one-third.oyo {
    height: 52px;
    width: 59px;
    background-position: -4381.66666667px
}

.companies.one-third.paypal {
    height: 52px;
    width: 132px;
    background-position: -4442px
}

.companies.one-third.paytm {
    height: 52px;
    width: 76px;
    background-position: -4575.33333333px
}

.companies.one-third.qualcomm {
    height: 52px;
    width: 166.66666667px;
    background-position: -4652.66666667px
}

.companies.one-third.razorpay {
    height: 52px;
    width: 152px;
    background-position: -4820.66666667px
}

.companies.one-third.remo {
    height: 52px;
    width: 81px;
    background-position: -4974px
}

.companies.one-third.rico {
    height: 52px;
    width: 33px;
    background-position: -5056.33333333px
}

.companies.one-third.rippling {
    height: 52px;
    width: 157.66666667px;
    background-position: -5090.66666667px
}

.companies.one-third.rocket {
    height: 52px;
    width: 259.66666667px;
    background-position: -5249.66666667px
}

.companies.one-third.sapient {
    height: 52px;
    width: 119px;
    background-position: -5510.66666667px
}

.companies.one-third.scaler {
    height: 52px;
    width: 156.66666667px;
    background-position: -5631px
}

.companies.one-third.scratch {
    height: 52px;
    width: 106.33333333px;
    background-position: -5789px
}

.companies.one-third.sequoia {
    height: 52px;
    width: 149px;
    background-position: -5896.66666667px
}

.companies.one-third.snapdeal {
    height: 52px;
    width: 113px;
    background-position: -6047px
}

.companies.one-third.sprinklr {
    height: 52px;
    width: 151px;
    background-position: -6161.33333333px
}

.companies.one-third.techcrunch {
    height: 52px;
    width: 61.33333333px;
    background-position: -6313.66666667px
}

.companies.one-third.techinasia {
    height: 52px;
    width: 170.33333333px;
    background-position: -6376.33333333px
}

.companies.one-third.tiger-global {
    height: 52px;
    width: 386px;
    background-position: -6548px
}

.companies.one-third.tigerglobal {
    height: 52px;
    width: 239px;
    background-position: -6935.33333333px
}

.companies.one-third.toi {
    height: 52px;
    width: 61.66666667px;
    background-position: -7175.66666667px
}

.companies.one-third.toppr {
    height: 52px;
    width: 110px;
    background-position: -7238.66666667px
}

.companies.one-third.traveloka {
    height: 52px;
    width: 145px;
    background-position: -7350px
}

.companies.one-third.truebil {
    height: 52px;
    width: 165px;
    background-position: -7496.33333333px
}

.companies.one-third.twitter {
    height: 52px;
    width: 110px;
    background-position: -7662.66666667px
}

.companies.one-third.uber {
    height: 52px;
    width: 57px;
    background-position: -7774px
}

.companies.one-third.urbanclap {
    height: 52px;
    width: 173px;
    background-position: -7832.33333333px
}

.companies.one-third.walmart {
    height: 52px;
    width: 148px;
    background-position: -8006.66666667px
}

.companies.one-third.walmart-new {
    height: 52px;
    width: 139px;
    background-position: -8156px
}

.companies.one-third.youtube {
    height: 52px;
    width: 101px;
    background-position: -8296.33333333px
}

.companies.one-third.zenefits {
    height: 52px;
    width: 128px;
    background-position: -8398.66666667px
}

.companies.one-third.zeta {
    height: 52px;
    width: 71px;
    background-position: -8528px
}

.companies.one-third.zomato {
    height: 51px;
    width: 106px;
    background-position: -8600.33333333px
}

.companies.one-third.zynga {
    height: 52px;
    width: 123.66666667px;
    background-position: -8707.66666667px
}

.companies.one-fourth {
    background-size: 6624px 40px
}

.companies.one-fourth.adobe {
    height: 39px;
    width: 84px;
    background-position: -0.5px
}

.companies.one-fourth.amazon {
    height: 39px;
    width: 70.5px;
    background-position: -85.5px
}

.companies.one-fourth.arcesium {
    height: 39px;
    width: 108.75px;
    background-position: -157px
}

.companies.one-fourth.atlassian {
    height: 39px;
    width: 107px;
    background-position: -266.75px
}

.companies.one-fourth.bloomberg {
    height: 39px;
    width: 111.25px;
    background-position: -374.75px
}

.companies.one-fourth.booking {
    height: 39px;
    width: 107.25px;
    background-position: -487px
}

.companies.one-fourth.business-insider {
    height: 39px;
    width: 73.5px;
    background-position: -595.25px
}

.companies.one-fourth.business-line {
    height: 39px;
    width: 108.25px;
    background-position: -669.75px
}

.companies.one-fourth.business-standard {
    height: 39px;
    width: 127.75px;
    background-position: -779px
}

.companies.one-fourth.cisco {
    height: 39px;
    width: 45.75px;
    background-position: -907.75px
}

.companies.one-fourth.curefit {
    height: 39px;
    width: 95.25px;
    background-position: -954.5px
}

.companies.one-fourth.deshaw {
    height: 39px;
    width: 151.5px;
    background-position: -1050.75px
}

.companies.one-fourth.directi {
    height: 39px;
    width: 74.25px;
    background-position: -1203.25px
}

.companies.one-fourth.dream11 {
    height: 39px;
    width: 78.75px;
    background-position: -1278.5px
}

.companies.one-fourth.fab {
    height: 39px;
    width: 57.75px;
    background-position: -1358.25px
}

.companies.one-fourth.facebook {
    height: 39px;
    width: 97.5px;
    background-position: -1417px
}

.companies.one-fourth.flipkart {
    height: 39px;
    width: 108.75px;
    background-position: -1515.5px
}

.companies.one-fourth.forbes {
    height: 39px;
    width: 87.25px;
    background-position: -1625.25px
}

.companies.one-fourth.gfc {
    height: 39px;
    width: 105px;
    background-position: -1713.5px
}

.companies.one-fourth.gojek {
    height: 39px;
    width: 83px;
    background-position: -1819.5px
}

.companies.one-fourth.goldman {
    height: 39px;
    width: 58.5px;
    background-position: -1903.5px
}

.companies.one-fourth.google {
    height: 39px;
    width: 76.5px;
    background-position: -1963px
}

.companies.one-fourth.harness {
    height: 39px;
    width: 95.25px;
    background-position: -2040.5px
}

.companies.one-fourth.hindustan-times {
    height: 39px;
    width: 37.25px;
    background-position: -2136.75px
}

.companies.one-fourth.hotstar {
    height: 39px;
    width: 96px;
    background-position: -2175px
}

.companies.one-fourth.ibt {
    height: 39px;
    width: 58px;
    background-position: -2272px
}

.companies.one-fourth.india-today {
    height: 39px;
    width: 57px;
    background-position: -2331px
}

.companies.one-fourth.intuit {
    height: 39px;
    width: 74.25px;
    background-position: -2389px
}

.companies.one-fourth.linkedin {
    height: 39px;
    width: 74.25px;
    background-position: -2464.25px
}

.companies.one-fourth.livemint {
    height: 39px;
    width: 92.5px;
    background-position: -2539.5px
}

.companies.one-fourth.media-net {
    height: 39px;
    width: 90.25px;
    background-position: -2633px
}

.companies.one-fourth.microsoft {
    height: 39px;
    width: 95.25px;
    background-position: -2724.25px
}

.companies.one-fourth.mindtickle {
    height: 39px;
    width: 117px;
    background-position: -2820.5px
}

.companies.one-fourth.mpl {
    height: 39px;
    width: 82.5px;
    background-position: -2938.5px
}

.companies.one-fourth.myntra {
    height: 39px;
    width: 79.25px;
    background-position: -3022px
}

.companies.one-fourth.netflix {
    height: 39px;
    width: 60px;
    background-position: -3102.25px
}

.companies.one-fourth.nutanix {
    height: 39px;
    width: 91.75px;
    background-position: -3163.25px
}

.companies.one-fourth.onemg {
    height: 39px;
    width: 29.25px;
    background-position: -3256px
}

.companies.one-fourth.oyo {
    height: 39px;
    width: 44.25px;
    background-position: -3286.25px
}

.companies.one-fourth.paypal {
    height: 39px;
    width: 99px;
    background-position: -3331.5px
}

.companies.one-fourth.paytm {
    height: 39px;
    width: 57px;
    background-position: -3431.5px
}

.companies.one-fourth.qualcomm {
    height: 39px;
    width: 125px;
    background-position: -3489.5px
}

.companies.one-fourth.razorpay {
    height: 39px;
    width: 114px;
    background-position: -3615.5px
}

.companies.one-fourth.remo {
    height: 39px;
    width: 60.75px;
    background-position: -3730.5px
}

.companies.one-fourth.rico {
    height: 39px;
    width: 24.75px;
    background-position: -3792.25px
}

.companies.one-fourth.rippling {
    height: 39px;
    width: 118.25px;
    background-position: -3818px
}

.companies.one-fourth.rocket {
    height: 39px;
    width: 194.75px;
    background-position: -3937.25px
}

.companies.one-fourth.sapient {
    height: 39px;
    width: 89.25px;
    background-position: -4133px
}

.companies.one-fourth.scaler {
    height: 39px;
    width: 117.5px;
    background-position: -4223.25px
}

.companies.one-fourth.scratch {
    height: 39px;
    width: 79.75px;
    background-position: -4341.75px
}

.companies.one-fourth.sequoia {
    height: 39px;
    width: 111.75px;
    background-position: -4422.5px
}

.companies.one-fourth.snapdeal {
    height: 39px;
    width: 84.75px;
    background-position: -4535.25px
}

.companies.one-fourth.sprinklr {
    height: 39px;
    width: 113.25px;
    background-position: -4621px
}

.companies.one-fourth.techcrunch {
    height: 39px;
    width: 46px;
    background-position: -4735.25px
}

.companies.one-fourth.techinasia {
    height: 39px;
    width: 127.75px;
    background-position: -4782.25px
}

.companies.one-fourth.tiger-global {
    height: 39px;
    width: 289.5px;
    background-position: -4911px
}

.companies.one-fourth.tigerglobal {
    height: 39px;
    width: 179.25px;
    background-position: -5201.5px
}

.companies.one-fourth.toi {
    height: 39px;
    width: 46.25px;
    background-position: -5381.75px
}

.companies.one-fourth.toppr {
    height: 39px;
    width: 82.5px;
    background-position: -5429px
}

.companies.one-fourth.traveloka {
    height: 39px;
    width: 108.75px;
    background-position: -5512.5px
}

.companies.one-fourth.truebil {
    height: 39px;
    width: 123.75px;
    background-position: -5622.25px
}

.companies.one-fourth.twitter {
    height: 39px;
    width: 82.5px;
    background-position: -5747px
}

.companies.one-fourth.uber {
    height: 39px;
    width: 42.75px;
    background-position: -5830.5px
}

.companies.one-fourth.urbanclap {
    height: 39px;
    width: 129.75px;
    background-position: -5874.25px
}

.companies.one-fourth.walmart {
    height: 39px;
    width: 111px;
    background-position: -6005px
}

.companies.one-fourth.walmart-new {
    height: 39px;
    width: 104.25px;
    background-position: -6117px
}

.companies.one-fourth.youtube {
    height: 39px;
    width: 75.75px;
    background-position: -6222.25px
}

.companies.one-fourth.zenefits {
    height: 39px;
    width: 96px;
    background-position: -6299px
}

.companies.one-fourth.zeta {
    height: 39px;
    width: 53.25px;
    background-position: -6396px
}

.companies.one-fourth.zomato {
    height: 38.25px;
    width: 79.5px;
    background-position: -6450.25px
}

.companies.one-fourth.zynga {
    height: 39px;
    width: 92.75px;
    background-position: -6530.75px
}

.companies.one-fifth {
    background-size: 5299.2px 32px
}

.companies.one-fifth.adobe {
    height: 31.2px;
    width: 67.2px;
    background-position: -0.4px
}

.companies.one-fifth.amazon {
    height: 31.2px;
    width: 56.4px;
    background-position: -68.4px
}

.companies.one-fifth.arcesium {
    height: 31.2px;
    width: 87px;
    background-position: -125.6px
}

.companies.one-fifth.atlassian {
    height: 31.2px;
    width: 85.6px;
    background-position: -213.4px
}

.companies.one-fifth.bloomberg {
    height: 31.2px;
    width: 89px;
    background-position: -299.8px
}

.companies.one-fifth.booking {
    height: 31.2px;
    width: 85.8px;
    background-position: -389.6px
}

.companies.one-fifth.business-insider {
    height: 31.2px;
    width: 58.8px;
    background-position: -476.2px
}

.companies.one-fifth.business-line {
    height: 31.2px;
    width: 86.6px;
    background-position: -535.8px
}

.companies.one-fifth.business-standard {
    height: 31.2px;
    width: 102.2px;
    background-position: -623.2px
}

.companies.one-fifth.cisco {
    height: 31.2px;
    width: 36.6px;
    background-position: -726.2px
}

.companies.one-fifth.curefit {
    height: 31.2px;
    width: 76.2px;
    background-position: -763.6px
}

.companies.one-fifth.deshaw {
    height: 31.2px;
    width: 121.2px;
    background-position: -840.6px
}

.companies.one-fifth.directi {
    height: 31.2px;
    width: 59.4px;
    background-position: -962.6px
}

.companies.one-fifth.dream11 {
    height: 31.2px;
    width: 63px;
    background-position: -1022.8px
}

.companies.one-fifth.fab {
    height: 31.2px;
    width: 46.2px;
    background-position: -1086.6px
}

.companies.one-fifth.facebook {
    height: 31.2px;
    width: 78px;
    background-position: -1133.6px
}

.companies.one-fifth.flipkart {
    height: 31.2px;
    width: 87px;
    background-position: -1212.4px
}

.companies.one-fifth.forbes {
    height: 31.2px;
    width: 69.8px;
    background-position: -1300.2px
}

.companies.one-fifth.gfc {
    height: 31.2px;
    width: 84px;
    background-position: -1370.8px
}

.companies.one-fifth.gojek {
    height: 31.2px;
    width: 66.4px;
    background-position: -1455.6px
}

.companies.one-fifth.goldman {
    height: 31.2px;
    width: 46.8px;
    background-position: -1522.8px
}

.companies.one-fifth.google {
    height: 31.2px;
    width: 61.2px;
    background-position: -1570.4px
}

.companies.one-fifth.harness {
    height: 31.2px;
    width: 76.2px;
    background-position: -1632.4px
}

.companies.one-fifth.hindustan-times {
    height: 31.2px;
    width: 29.8px;
    background-position: -1709.4px
}

.companies.one-fifth.hotstar {
    height: 31.2px;
    width: 76.8px;
    background-position: -1740px
}

.companies.one-fifth.ibt {
    height: 31.2px;
    width: 46.4px;
    background-position: -1817.6px
}

.companies.one-fifth.india-today {
    height: 31.2px;
    width: 45.6px;
    background-position: -1864.8px
}

.companies.one-fifth.intuit {
    height: 31.2px;
    width: 59.4px;
    background-position: -1911.2px
}

.companies.one-fifth.linkedin {
    height: 31.2px;
    width: 59.4px;
    background-position: -1971.4px
}

.companies.one-fifth.livemint {
    height: 31.2px;
    width: 74px;
    background-position: -2031.6px
}

.companies.one-fifth.media-net {
    height: 31.2px;
    width: 72.2px;
    background-position: -2106.4px
}

.companies.one-fifth.microsoft {
    height: 31.2px;
    width: 76.2px;
    background-position: -2179.4px
}

.companies.one-fifth.mindtickle {
    height: 31.2px;
    width: 93.6px;
    background-position: -2256.4px
}

.companies.one-fifth.mpl {
    height: 31.2px;
    width: 66px;
    background-position: -2350.8px
}

.companies.one-fifth.myntra {
    height: 31.2px;
    width: 63.4px;
    background-position: -2417.6px
}

.companies.one-fifth.netflix {
    height: 31.2px;
    width: 48px;
    background-position: -2481.8px
}

.companies.one-fifth.nutanix {
    height: 31.2px;
    width: 73.4px;
    background-position: -2530.6px
}

.companies.one-fifth.onemg {
    height: 31.2px;
    width: 23.4px;
    background-position: -2604.8px
}

.companies.one-fifth.oyo {
    height: 31.2px;
    width: 35.4px;
    background-position: -2629px
}

.companies.one-fifth.paypal {
    height: 31.2px;
    width: 79.2px;
    background-position: -2665.2px
}

.companies.one-fifth.paytm {
    height: 31.2px;
    width: 45.6px;
    background-position: -2745.2px
}

.companies.one-fifth.qualcomm {
    height: 31.2px;
    width: 100px;
    background-position: -2791.6px
}

.companies.one-fifth.razorpay {
    height: 31.2px;
    width: 91.2px;
    background-position: -2892.4px
}

.companies.one-fifth.remo {
    height: 31.2px;
    width: 48.6px;
    background-position: -2984.4px
}

.companies.one-fifth.rico {
    height: 31.2px;
    width: 19.8px;
    background-position: -3033.8px
}

.companies.one-fifth.rippling {
    height: 31.2px;
    width: 94.6px;
    background-position: -3054.4px
}

.companies.one-fifth.rocket {
    height: 31.2px;
    width: 155.8px;
    background-position: -3149.8px
}

.companies.one-fifth.sapient {
    height: 31.2px;
    width: 71.4px;
    background-position: -3306.4px
}

.companies.one-fifth.scaler {
    height: 31.2px;
    width: 94px;
    background-position: -3378.6px
}

.companies.one-fifth.scratch {
    height: 31.2px;
    width: 63.8px;
    background-position: -3473.4px
}

.companies.one-fifth.sequoia {
    height: 31.2px;
    width: 89.4px;
    background-position: -3538px
}

.companies.one-fifth.snapdeal {
    height: 31.2px;
    width: 67.8px;
    background-position: -3628.2px
}

.companies.one-fifth.sprinklr {
    height: 31.2px;
    width: 90.6px;
    background-position: -3696.8px
}

.companies.one-fifth.techcrunch {
    height: 31.2px;
    width: 36.8px;
    background-position: -3788.2px
}

.companies.one-fifth.techinasia {
    height: 31.2px;
    width: 102.2px;
    background-position: -3825.8px
}

.companies.one-fifth.tiger-global {
    height: 31.2px;
    width: 231.6px;
    background-position: -3928.8px
}

.companies.one-fifth.tigerglobal {
    height: 31.2px;
    width: 143.4px;
    background-position: -4161.2px
}

.companies.one-fifth.toi {
    height: 31.2px;
    width: 37px;
    background-position: -4305.4px
}

.companies.one-fifth.toppr {
    height: 31.2px;
    width: 66px;
    background-position: -4343.2px
}

.companies.one-fifth.traveloka {
    height: 31.2px;
    width: 87px;
    background-position: -4410px
}

.companies.one-fifth.truebil {
    height: 31.2px;
    width: 99px;
    background-position: -4497.8px
}

.companies.one-fifth.twitter {
    height: 31.2px;
    width: 66px;
    background-position: -4597.6px
}

.companies.one-fifth.uber {
    height: 31.2px;
    width: 34.2px;
    background-position: -4664.4px
}

.companies.one-fifth.urbanclap {
    height: 31.2px;
    width: 103.8px;
    background-position: -4699.4px
}

.companies.one-fifth.walmart {
    height: 31.2px;
    width: 88.8px;
    background-position: -4804px
}

.companies.one-fifth.walmart-new {
    height: 31.2px;
    width: 83.4px;
    background-position: -4893.6px
}

.companies.one-fifth.youtube {
    height: 31.2px;
    width: 60.6px;
    background-position: -4977.8px
}

.companies.one-fifth.zenefits {
    height: 31.2px;
    width: 76.8px;
    background-position: -5039.2px
}

.companies.one-fifth.zeta {
    height: 31.2px;
    width: 42.6px;
    background-position: -5116.8px
}

.companies.one-fifth.zomato {
    height: 30.6px;
    width: 63.6px;
    background-position: -5160.2px
}

.companies.one-fifth.zynga {
    height: 31.2px;
    width: 74.2px;
    background-position: -5224.6px
}

.companies.one-sixth {
    background-size: 4416px 26.66666667px
}

.companies.one-sixth.adobe {
    height: 26px;
    width: 56px;
    background-position: -0.33333333px
}

.companies.one-sixth.amazon {
    height: 26px;
    width: 47px;
    background-position: -57px
}

.companies.one-sixth.arcesium {
    height: 26px;
    width: 72.5px;
    background-position: -104.66666667px
}

.companies.one-sixth.atlassian {
    height: 26px;
    width: 71.33333333px;
    background-position: -177.83333333px
}

.companies.one-sixth.bloomberg {
    height: 26px;
    width: 74.16666667px;
    background-position: -249.83333333px
}

.companies.one-sixth.booking {
    height: 26px;
    width: 71.5px;
    background-position: -324.66666667px
}

.companies.one-sixth.business-insider {
    height: 26px;
    width: 49px;
    background-position: -396.83333333px
}

.companies.one-sixth.business-line {
    height: 26px;
    width: 72.16666667px;
    background-position: -446.5px
}

.companies.one-sixth.business-standard {
    height: 26px;
    width: 85.16666667px;
    background-position: -519.33333333px
}

.companies.one-sixth.cisco {
    height: 26px;
    width: 30.5px;
    background-position: -605.16666667px
}

.companies.one-sixth.curefit {
    height: 26px;
    width: 63.5px;
    background-position: -636.33333333px
}

.companies.one-sixth.deshaw {
    height: 26px;
    width: 101px;
    background-position: -700.5px
}

.companies.one-sixth.directi {
    height: 26px;
    width: 49.5px;
    background-position: -802.16666667px
}

.companies.one-sixth.dream11 {
    height: 26px;
    width: 52.5px;
    background-position: -852.33333333px
}

.companies.one-sixth.fab {
    height: 26px;
    width: 38.5px;
    background-position: -905.5px
}

.companies.one-sixth.facebook {
    height: 26px;
    width: 65px;
    background-position: -944.66666667px
}

.companies.one-sixth.flipkart {
    height: 26px;
    width: 72.5px;
    background-position: -1010.33333333px
}

.companies.one-sixth.forbes {
    height: 26px;
    width: 58.16666667px;
    background-position: -1083.5px
}

.companies.one-sixth.gfc {
    height: 26px;
    width: 70px;
    background-position: -1142.33333333px
}

.companies.one-sixth.gojek {
    height: 26px;
    width: 55.33333333px;
    background-position: -1213px
}

.companies.one-sixth.goldman {
    height: 26px;
    width: 39px;
    background-position: -1269px
}

.companies.one-sixth.google {
    height: 26px;
    width: 51px;
    background-position: -1308.66666667px
}

.companies.one-sixth.harness {
    height: 26px;
    width: 63.5px;
    background-position: -1360.33333333px
}

.companies.one-sixth.hindustan-times {
    height: 26px;
    width: 24.83333333px;
    background-position: -1424.5px
}

.companies.one-sixth.hotstar {
    height: 26px;
    width: 64px;
    background-position: -1450px
}

.companies.one-sixth.ibt {
    height: 26px;
    width: 38.66666667px;
    background-position: -1514.66666667px
}

.companies.one-sixth.india-today {
    height: 26px;
    width: 38px;
    background-position: -1554px
}

.companies.one-sixth.intuit {
    height: 26px;
    width: 49.5px;
    background-position: -1592.66666667px
}

.companies.one-sixth.linkedin {
    height: 26px;
    width: 49.5px;
    background-position: -1642.83333333px
}

.companies.one-sixth.livemint {
    height: 26px;
    width: 61.66666667px;
    background-position: -1693px
}

.companies.one-sixth.media-net {
    height: 26px;
    width: 60.16666667px;
    background-position: -1755.33333333px
}

.companies.one-sixth.microsoft {
    height: 26px;
    width: 63.5px;
    background-position: -1816.16666667px
}

.companies.one-sixth.mindtickle {
    height: 26px;
    width: 78px;
    background-position: -1880.33333333px
}

.companies.one-sixth.mpl {
    height: 26px;
    width: 55px;
    background-position: -1959px
}

.companies.one-sixth.myntra {
    height: 26px;
    width: 52.83333333px;
    background-position: -2014.66666667px
}

.companies.one-sixth.netflix {
    height: 26px;
    width: 40px;
    background-position: -2068.16666667px
}

.companies.one-sixth.nutanix {
    height: 26px;
    width: 61.16666667px;
    background-position: -2108.83333333px
}

.companies.one-sixth.onemg {
    height: 26px;
    width: 19.5px;
    background-position: -2170.66666667px
}

.companies.one-sixth.oyo {
    height: 26px;
    width: 29.5px;
    background-position: -2190.83333333px
}

.companies.one-sixth.paypal {
    height: 26px;
    width: 66px;
    background-position: -2221px
}

.companies.one-sixth.paytm {
    height: 26px;
    width: 38px;
    background-position: -2287.66666667px
}

.companies.one-sixth.qualcomm {
    height: 26px;
    width: 83.33333333px;
    background-position: -2326.33333333px
}

.companies.one-sixth.razorpay {
    height: 26px;
    width: 76px;
    background-position: -2410.33333333px
}

.companies.one-sixth.remo {
    height: 26px;
    width: 40.5px;
    background-position: -2487px
}

.companies.one-sixth.rico {
    height: 26px;
    width: 16.5px;
    background-position: -2528.16666667px
}

.companies.one-sixth.rippling {
    height: 26px;
    width: 78.83333333px;
    background-position: -2545.33333333px
}

.companies.one-sixth.rocket {
    height: 26px;
    width: 129.83333333px;
    background-position: -2624.83333333px
}

.companies.one-sixth.sapient {
    height: 26px;
    width: 59.5px;
    background-position: -2755.33333333px
}

.companies.one-sixth.scaler {
    height: 26px;
    width: 78.33333333px;
    background-position: -2815.5px
}

.companies.one-sixth.scratch {
    height: 26px;
    width: 53.16666667px;
    background-position: -2894.5px
}

.companies.one-sixth.sequoia {
    height: 26px;
    width: 74.5px;
    background-position: -2948.33333333px
}

.companies.one-sixth.snapdeal {
    height: 26px;
    width: 56.5px;
    background-position: -3023.5px
}

.companies.one-sixth.sprinklr {
    height: 26px;
    width: 75.5px;
    background-position: -3080.66666667px
}

.companies.one-sixth.techcrunch {
    height: 26px;
    width: 30.66666667px;
    background-position: -3156.83333333px
}

.companies.one-sixth.techinasia {
    height: 26px;
    width: 85.16666667px;
    background-position: -3188.16666667px
}

.companies.one-sixth.tiger-global {
    height: 26px;
    width: 193px;
    background-position: -3274px
}

.companies.one-sixth.tigerglobal {
    height: 26px;
    width: 119.5px;
    background-position: -3467.66666667px
}

.companies.one-sixth.toi {
    height: 26px;
    width: 30.83333333px;
    background-position: -3587.83333333px
}

.companies.one-sixth.toppr {
    height: 26px;
    width: 55px;
    background-position: -3619.33333333px
}

.companies.one-sixth.traveloka {
    height: 26px;
    width: 72.5px;
    background-position: -3675px
}

.companies.one-sixth.truebil {
    height: 26px;
    width: 82.5px;
    background-position: -3748.16666667px
}

.companies.one-sixth.twitter {
    height: 26px;
    width: 55px;
    background-position: -3831.33333333px
}

.companies.one-sixth.uber {
    height: 26px;
    width: 28.5px;
    background-position: -3887px
}

.companies.one-sixth.urbanclap {
    height: 26px;
    width: 86.5px;
    background-position: -3916.16666667px
}

.companies.one-sixth.walmart {
    height: 26px;
    width: 74px;
    background-position: -4003.33333333px
}

.companies.one-sixth.walmart-new {
    height: 26px;
    width: 69.5px;
    background-position: -4078px
}

.companies.one-sixth.youtube {
    height: 26px;
    width: 50.5px;
    background-position: -4148.16666667px
}

.companies.one-sixth.zenefits {
    height: 26px;
    width: 64px;
    background-position: -4199.33333333px
}

.companies.one-sixth.zeta {
    height: 26px;
    width: 35.5px;
    background-position: -4264px
}

.companies.one-sixth.zomato {
    height: 25.5px;
    width: 53px;
    background-position: -4300.16666667px
}

.companies.one-sixth.zynga {
    height: 26px;
    width: 61.83333333px;
    background-position: -4353.83333333px
}

.companies.one-nineth {
    background-size: 2944px 17.77777778px
}

.companies.one-nineth.adobe {
    height: 17.33333333px;
    width: 37.33333333px;
    background-position: -0.22222222px
}

.companies.one-nineth.amazon {
    height: 17.33333333px;
    width: 31.33333333px;
    background-position: -38px
}

.companies.one-nineth.arcesium {
    height: 17.33333333px;
    width: 48.33333333px;
    background-position: -69.77777778px
}

.companies.one-nineth.atlassian {
    height: 17.33333333px;
    width: 47.55555556px;
    background-position: -118.55555556px
}

.companies.one-nineth.bloomberg {
    height: 17.33333333px;
    width: 49.44444444px;
    background-position: -166.55555556px
}

.companies.one-nineth.booking {
    height: 17.33333333px;
    width: 47.66666667px;
    background-position: -216.44444444px
}

.companies.one-nineth.business-insider {
    height: 17.33333333px;
    width: 32.66666667px;
    background-position: -264.55555556px
}

.companies.one-nineth.business-line {
    height: 17.33333333px;
    width: 48.11111111px;
    background-position: -297.66666667px
}

.companies.one-nineth.business-standard {
    height: 17.33333333px;
    width: 56.77777778px;
    background-position: -346.22222222px
}

.companies.one-nineth.cisco {
    height: 17.33333333px;
    width: 20.33333333px;
    background-position: -403.44444444px
}

.companies.one-nineth.curefit {
    height: 17.33333333px;
    width: 42.33333333px;
    background-position: -424.22222222px
}

.companies.one-nineth.deshaw {
    height: 17.33333333px;
    width: 67.33333333px;
    background-position: -467px
}

.companies.one-nineth.directi {
    height: 17.33333333px;
    width: 33px;
    background-position: -534.77777778px
}

.companies.one-nineth.dream11 {
    height: 17.33333333px;
    width: 35px;
    background-position: -568.22222222px
}

.companies.one-nineth.fab {
    height: 17.33333333px;
    width: 25.66666667px;
    background-position: -603.66666667px
}

.companies.one-nineth.facebook {
    height: 17.33333333px;
    width: 43.33333333px;
    background-position: -629.77777778px
}

.companies.one-nineth.flipkart {
    height: 17.33333333px;
    width: 48.33333333px;
    background-position: -673.55555556px
}

.companies.one-nineth.forbes {
    height: 17.33333333px;
    width: 38.77777778px;
    background-position: -722.33333333px
}

.companies.one-nineth.gfc {
    height: 17.33333333px;
    width: 46.66666667px;
    background-position: -761.55555556px
}

.companies.one-nineth.gojek {
    height: 17.33333333px;
    width: 36.88888889px;
    background-position: -808.66666667px
}

.companies.one-nineth.goldman {
    height: 17.33333333px;
    width: 26px;
    background-position: -846px
}

.companies.one-nineth.google {
    height: 17.33333333px;
    width: 34px;
    background-position: -872.44444444px
}

.companies.one-nineth.harness {
    height: 17.33333333px;
    width: 42.33333333px;
    background-position: -906.88888889px
}

.companies.one-nineth.hindustan-times {
    height: 17.33333333px;
    width: 16.55555556px;
    background-position: -949.66666667px
}

.companies.one-nineth.hotstar {
    height: 17.33333333px;
    width: 42.66666667px;
    background-position: -966.66666667px
}

.companies.one-nineth.ibt {
    height: 17.33333333px;
    width: 25.77777778px;
    background-position: -1009.77777778px
}

.companies.one-nineth.india-today {
    height: 17.33333333px;
    width: 25.33333333px;
    background-position: -1036px
}

.companies.one-nineth.intuit {
    height: 17.33333333px;
    width: 33px;
    background-position: -1061.77777778px
}

.companies.one-nineth.linkedin {
    height: 17.33333333px;
    width: 33px;
    background-position: -1095.22222222px
}

.companies.one-nineth.livemint {
    height: 17.33333333px;
    width: 41.11111111px;
    background-position: -1128.66666667px
}

.companies.one-nineth.media-net {
    height: 17.33333333px;
    width: 40.11111111px;
    background-position: -1170.22222222px
}

.companies.one-nineth.microsoft {
    height: 17.33333333px;
    width: 42.33333333px;
    background-position: -1210.77777778px
}

.companies.one-nineth.mindtickle {
    height: 17.33333333px;
    width: 52px;
    background-position: -1253.55555556px
}

.companies.one-nineth.mpl {
    height: 17.33333333px;
    width: 36.66666667px;
    background-position: -1306px
}

.companies.one-nineth.myntra {
    height: 17.33333333px;
    width: 35.22222222px;
    background-position: -1343.11111111px
}

.companies.one-nineth.netflix {
    height: 17.33333333px;
    width: 26.66666667px;
    background-position: -1378.77777778px
}

.companies.one-nineth.nutanix {
    height: 17.33333333px;
    width: 40.77777778px;
    background-position: -1405.88888889px
}

.companies.one-nineth.onemg {
    height: 17.33333333px;
    width: 13px;
    background-position: -1447.11111111px
}

.companies.one-nineth.oyo {
    height: 17.33333333px;
    width: 19.66666667px;
    background-position: -1460.55555556px
}

.companies.one-nineth.paypal {
    height: 17.33333333px;
    width: 44px;
    background-position: -1480.66666667px
}

.companies.one-nineth.paytm {
    height: 17.33333333px;
    width: 25.33333333px;
    background-position: -1525.11111111px
}

.companies.one-nineth.qualcomm {
    height: 17.33333333px;
    width: 55.55555556px;
    background-position: -1550.88888889px
}

.companies.one-nineth.razorpay {
    height: 17.33333333px;
    width: 50.66666667px;
    background-position: -1606.88888889px
}

.companies.one-nineth.remo {
    height: 17.33333333px;
    width: 27px;
    background-position: -1658px
}

.companies.one-nineth.rico {
    height: 17.33333333px;
    width: 11px;
    background-position: -1685.44444444px
}

.companies.one-nineth.rippling {
    height: 17.33333333px;
    width: 52.55555556px;
    background-position: -1696.88888889px
}

.companies.one-nineth.rocket {
    height: 17.33333333px;
    width: 86.55555556px;
    background-position: -1749.88888889px
}

.companies.one-nineth.sapient {
    height: 17.33333333px;
    width: 39.66666667px;
    background-position: -1836.88888889px
}

.companies.one-nineth.scaler {
    height: 17.33333333px;
    width: 52.22222222px;
    background-position: -1877px
}

.companies.one-nineth.scratch {
    height: 17.33333333px;
    width: 35.44444444px;
    background-position: -1929.66666667px
}

.companies.one-nineth.sequoia {
    height: 17.33333333px;
    width: 49.66666667px;
    background-position: -1965.55555556px
}

.companies.one-nineth.snapdeal {
    height: 17.33333333px;
    width: 37.66666667px;
    background-position: -2015.66666667px
}

.companies.one-nineth.sprinklr {
    height: 17.33333333px;
    width: 50.33333333px;
    background-position: -2053.77777778px
}

.companies.one-nineth.techcrunch {
    height: 17.33333333px;
    width: 20.44444444px;
    background-position: -2104.55555556px
}

.companies.one-nineth.techinasia {
    height: 17.33333333px;
    width: 56.77777778px;
    background-position: -2125.44444444px
}

.companies.one-nineth.tiger-global {
    height: 17.33333333px;
    width: 128.66666667px;
    background-position: -2182.66666667px
}

.companies.one-nineth.tigerglobal {
    height: 17.33333333px;
    width: 79.66666667px;
    background-position: -2311.77777778px
}

.companies.one-nineth.toi {
    height: 17.33333333px;
    width: 20.55555556px;
    background-position: -2391.88888889px
}

.companies.one-nineth.toppr {
    height: 17.33333333px;
    width: 36.66666667px;
    background-position: -2412.88888889px
}

.companies.one-nineth.traveloka {
    height: 17.33333333px;
    width: 48.33333333px;
    background-position: -2450px
}

.companies.one-nineth.truebil {
    height: 17.33333333px;
    width: 55px;
    background-position: -2498.77777778px
}

.companies.one-nineth.twitter {
    height: 17.33333333px;
    width: 36.66666667px;
    background-position: -2554.22222222px
}

.companies.one-nineth.uber {
    height: 17.33333333px;
    width: 19px;
    background-position: -2591.33333333px
}

.companies.one-nineth.urbanclap {
    height: 17.33333333px;
    width: 57.66666667px;
    background-position: -2610.77777778px
}

.companies.one-nineth.walmart {
    height: 17.33333333px;
    width: 49.33333333px;
    background-position: -2668.88888889px
}

.companies.one-nineth.walmart-new {
    height: 17.33333333px;
    width: 46.33333333px;
    background-position: -2718.66666667px
}

.companies.one-nineth.youtube {
    height: 17.33333333px;
    width: 33.66666667px;
    background-position: -2765.44444444px
}

.companies.one-nineth.zenefits {
    height: 17.33333333px;
    width: 42.66666667px;
    background-position: -2799.55555556px
}

.companies.one-nineth.zeta {
    height: 17.33333333px;
    width: 23.66666667px;
    background-position: -2842.66666667px
}

.companies.one-nineth.zomato {
    height: 17px;
    width: 35.33333333px;
    background-position: -2866.77777778px
}

.companies.one-nineth.zynga {
    height: 17.33333333px;
    width: 41.22222222px;
    background-position: -2902.55555556px
}

.section {
    margin: 5rem 0;
    background-color: #ffffff
}

.section.is-v-padded {
    padding: 5rem 0
}

.section.is-v-padded.is-last {
    margin-bottom: 0
}

.section.is-v-padded.is-first {
    margin-top: 0
}

.section.is-alternate {
    background-color: #f8faff
}

.section.is-modal {
    margin: 3rem -2rem;
    width: calc(100% + 4rem);
    padding: 0 3rem
}

.section.is-modal.is-v-padded {
    padding: 3rem 3rem
}

@media screen and (max-width: 767px) {
    .section.is-modal:first-child {
        margin-top: 1rem
    }
}

.section-header__content {
    margin-bottom: 3rem
}

.section-header__title {
    color: #000000;
    font-weight: 800;
    margin-bottom: 1rem
}

.section-header__title--inline-label {
    background-color: #ff506c;
    color: #ffffff;
    font-weight: 400;
    font-size: 2.4rem;
    margin-left: 2rem;
    padding: 1.5rem 5rem;
    border-radius: 3rem
}

.section-header__subtitle {
    color: #5a6273;
    font-weight: 400;
    margin-bottom: 1rem
}

@media screen and (max-width: 767px) {
    .section {
        margin: 3rem 0
    }

    .section.is-v-padded {
        padding: 3rem 0
    }

    .section-header__content {
        margin-bottom: 2rem
    }
}

.news__events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1rem;
    width: calc(100% + 2rem)
}

.news-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    width: calc(50% - 2rem);
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
    overflow: hidden
}

.news-event__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 20rem;
    height: 100%;
    min-height: 12rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: start;
    object-position: start;
    margin-right: 1rem
}

@media screen and (max-width: 767px) {
    .news-event__logo {
        width: 15rem;
        min-height: 8rem
    }
}

.news-event__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 0;
    padding-right: 4rem
}

@media screen and (max-width: 1023px) {
    .news-event__body {
        padding-right: 2rem
    }
}

.news-event__content {
    margin-bottom: 1rem
}

.news-event__title {
    font-weight: 800;
    color: #000000;
    margin-bottom: 0.5rem
}

.news-event__subtitle {
    color: #000000
}

@media screen and (max-width: 1023px) {
    .news-event {
        width: 100%
    }
}

.banner {
    height: 48rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -16rem center;
    background-color: #f2f2f0
}

@media screen and (max-width: 1023px) {
    .banner {
        height: 28rem;
        background-position: -6rem center
    }
}

@media screen and (max-width: 767px) {
    .banner {
        height: 24rem;
        background-position: -6rem center
    }
}

@media (min-width: 1560px) {
    .banner {
        background-position: 0 center
    }
}

.banner__container {
    height: 100%
}

.banner__lines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #0041c9;
    font-weight: 800;
    font-size: 7.2rem
}

@media screen and (max-width: 1023px) {
    .banner__lines {
        font-size: 4.8rem
    }
}

@media screen and (max-width: 767px) {
    .banner__lines {
        padding: 0 2rem;
        font-size: 4rem
    }
}

.intro__description {
    margin-bottom: 2rem
}

.intro__reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 3rem;
    width: calc(100% + 2rem);
    margin-top: -1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (max-width: 767px) {
    .intro__reasons {
        padding-right: 0
    }
}

.intro__reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 1rem
}

.intro__reason img {
    width: 8rem;
    height: 8rem;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

@media screen and (max-width: 767px) {
    .intro__reason {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%
    }
}

.intro__reason-title {
    font-weight: 600;
    color: #000000
}

.intro__video-container {
    -webkit-box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 0.4rem;
    background-color: #ffffff;
    overflow: hidden
}

.intro__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.investors__description {
    margin-bottom: 2rem
}

.investors__ventures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.investors__venture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 1rem;
    width: 50%
}

.mission__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: -1rem;
    width: calc(100% + 2rem);
    position: relative
}

@media screen and (max-width: 767px) {
    .mission__blocks {
        padding: 3rem;
        display: flex;
        flex-direction: column;
    }
}

.mission__content,
.mission__image {
    padding: 1rem
}

.mission__image {
    -webkit-box-flex: 2;
    -ms-flex: 2 0 0px;
    flex: 2 0 0
}

.mission__image img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

@media screen and (max-width: 767px) {
    .mission__image {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 18rem
    }
}

.mission__content {
    -webkit-box-flex: 3;
    -ms-flex: 3 0 0px;
    flex: 3 0 0
}

@media screen and (max-width: 767px) {
    .mission__content {
        z-index: 1;
        min-width: 250px;
    }
}

.mission__title {
    font-weight: 800;
    color: #000000;
    margin-bottom: 3rem
}

.a-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: 36rem;
    margin: 10rem 0
}

@media (min-width: 1560px) {
    .a-row {
        min-height: 48rem
    }
}

.a-row__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: -1rem;
    width: calc(100% + 2rem)
}

@media screen and (max-width: 767px) {
    .a-row__blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 3rem
    }
}

.a-row__content,
.a-row__image {
    padding: 1rem
}

.a-row__content {
    -webkit-box-flex: 3;
    -ms-flex: 3 0 0px;
    flex: 3 0 0
}

.a-row__content--padded {
    padding-right: 3rem
}

@media screen and (max-width: 767px) {
    .a-row__content--padded {
        padding-right: 1rem
    }
}

@media screen and (max-width: 767px) {
    .a-row__content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.a-row__title {
    font-weight: 800;
    color: #000000;
    margin-bottom: 3rem
}

.a-row__image {
    -webkit-box-flex: 2;
    -ms-flex: 2 0 0px;
    flex: 2 0 0
}

.a-row__image img {
    -webkit-box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    box-shadow: rgba(19, 46, 112, 0.1) 0 1rem 4rem 0;
    position: relative;
    width: 100%;
    border-radius: 0.4rem;
    z-index: 1
}

@media screen and (max-width: 1023px) {
    .a-row__image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 30rem;
        padding: 3rem
    }
}

@media screen and (max-width: 767px) {
    .a-row__image {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

.a-row__background {
    width: 36rem;
    height: 36rem;
    background-position: 18rem center;
    background-size: 12rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #0041c9;
    background-image: url(https://assets-v2.scaler.com/assets/scaler/png/dots-5bca2e5c7d13825ee3b9b35a9c39ce74edd5dc22dd54fdc5422d3fa8ce61414a.png);
    background-repeat: no-repeat
}

@media screen and (max-width: 1023px) {
    .a-row__background {
        width: 30rem;
        height: 30rem;
        background-position: 15rem center;
        background-size: 14rem
    }
}

@media (min-width: 1560px) {
    .a-row__background {
        width: 48rem;
        height: 48rem;
        background-position: 24rem center;
        background-size: 18rem
    }
}

@media screen and (max-width: 767px) {
    .a-row__background {
        right: -4rem
    }
}

.a-row--alternate .a-row__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

@media screen and (max-width: 767px) {
    .a-row--alternate .a-row__blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.a-row--alternate .a-row__background {
    left: 0;
    right: auto;
    background-position: 6rem center
}

@media screen and (max-width: 1023px) {
    .a-row--alternate .a-row__background {
        background-position: 1rem center
    }
}

@media (min-width: 1560px) {
    .a-row--alternate .a-row__background {
        background-position: 6rem center
    }
}

@media screen and (max-width: 767px) {
    .a-row--alternate .a-row__background {
        left: -4rem
    }
}

.a-row--alternate .a-row__content--padded {
    padding-left: 3rem;
    padding-right: 1rem
}

@media screen and (max-width: 767px) {
    .a-row--alternate .a-row__content--padded {
        padding-left: 1rem
    }
}

@media screen and (max-width: 767px) {
    .a-row {
        margin: 6rem 0
    }
}